body {
    display: flex;
    background-color: rgba(180, 173, 168, 0.466);
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    margin-top: 29px;
    margin-left: 95px;
}
label {
    position: absolute;
    margin: -49px;
    margin-left: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF585F;
}

.busq {
    width: 170px;
    padding: 10px;
    padding-right: 38px;
    margin-top: 28px;
    font-size: 1rem;
    border-radius: 8px;
    border-color: #FF585F;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.export {
  position: relative;
  left: 90%;
  top: 70px;
  transform: translate(-50%, -50%);
  margin: 10px;
  padding: 10px;
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 12px;
  border-color: white;
  cursor: pointer;

  @media (max-width: 768px) {
    /* Ajustar las propiedades para pantallas pequeñas */
    width: 80%;
  }
}

.boton_busq {
    background-color: #FF585F;
    width: 52px;
    padding: 14px;
    position: absolute;
    margin-top: 26px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border-color: whitesmoke;
    background-image: url("../iconos/search-regular-24.png");
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

button:hover {
    background-color: darkred;
}


table {
    position: relative;
    left: 10%;
    top: 10%;
    transform: translate(-11.5%, -18%);
    background-color: rgb(255 255 255);
    margin-top: 85px;
    width: 96%;
    border-collapse: 35px;
    border-radius: 8px;
}

th, td {
    border: 1px solid #FF585F;
    border-radius: 6px;
    padding: 9px;
    text-align: center;
    font-size: 0.9rem;
}

th {
    background-color: #FF585F;
    color: white;

    @media (max-width: 768px) {
    /* Ajustar las propiedades para pantallas pequeñas */
    width: 80%;
  }
}

.ver-mas {
    background-color: #FF585F;
    padding: 6px 6px;
    position: relative;
    margin-right: 10px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    border-color: whitesmoke;
}
h1{
    position: absolute;
    top: 180px;
    border-radius: 14px;
    color: black;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}


.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}
.modal__title{
    font-size: 2.5rem;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}

strong{
    color: #FF585F;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
