/* Reset y configuración básica */
html, body, * {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 100;
  padding: 100;
}
body { 
  width: 100vw;
  height: auto;
  background:
    linear-gradient(
      rgb(250, 250, 250),
      rgba(255, 255, 255, 0.8)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* Contenedor principal */
.container {
  width: 100%;
  height: 75%;
  padding-top: 0;
  padding-bottom: 0;
}

/* Marco principal */
.frame {
  height: 750px;
  width: 100%;
  background: linear-gradient( #ff7360, rgba(255, 130, 130, 0.95)), url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  box-shadow: 10px 2px 7px rgba(0, 0, 0, 0.2);
  overflow: 1500px;
  transition: all .5s ease;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
  position: absolute;
  margin-left: 470px;
  margin-top: -82px;
  
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
  position: absolute;
  margin-left: 470px;
  margin-top: -1px;
  
}

.row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
  position: absolute;
  margin-left: 470px;
  margin-top: -80px;
  
}



.text-left1 {
  margin-top: -22px;
  margin-left: 10px;
  position: absolute;
}

.col-14 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
  position: absolute;
  margin-left: 315px;
  margin-top: 23px;
}

/* Otras clases del marco */
.frame-long {
  height: 615px;
}

.frame-short {
  height: 400px;
  margin-top: 50px;
  box-shadow: 10px 2px 7px rgba(0, 0, 0, 0.1);
}

/* Navegación */
.nav {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all .5s ease;
}

.nav-up {
  transform: translateY(-100px);
  opacity: 0;
}

/* Lista de enlaces */
li {
  padding-left: 10px;
  font-size: 18px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}
.form-signup {
  width: 100vw;
}
/* Botones de registro e inicio de sesión */
.signin-active a {
  padding-bottom: 10px;
  color: #747373;
  text-decoration: none;
  border-bottom: solid 2px #1059FF;
  transition: all .25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: rgba(255, 255, 255, .3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
  transition: all .25s ease;
}

.signup-active a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #f3f3f3;
  padding-bottom: 10px;
}

.signup-inactive a {
  cursor: pointer;
  color: rgba(255, 255, 255, .3);
  text-decoration: none;
  transition: all .25s ease;
}

/* Formularios de registro e inicio de sesión */
.form-signin,
.form-signup {
  width: 950px;
  height: 375px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 37px;
  padding-right: 37px;
  transition: opacity .5s ease, transform .5s ease;
}

.form-signin-left {
  transform: translateX(-400px);
  opacity: .0;
}

.form-signup-left {
  transform: translateX(-399px);
  opacity: 1;
}

/* Éxito después del registro */
.success {
  width: 80%;
  height: 150px;
  text-align: center;
  position: relative;
  top: -890px;
  left: 450px;
  opacity: .0;
  transition: all .8s .4s ease;
}

.success-left {
  transform: translateX(-406px);
  opacity: 1;
}

/* Texto de éxito */
.successtext {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 300;
  margin-top: -35px;
  padding-left: 37px;
  padding-right: 37px;
}

/* Icono de éxito SVG */
#check path {
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

/* Campos de entrada y etiquetas */
.form-styling {
  width: 92%;
  font-size: 14px;
  height: 39px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  color: #0f0f0f;
  background-color: rgba(255, 255, 255, 0.808);
}

.form-styling_observacion {
  width: 125%;
  height: 80px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.808);
}

.form-styling::placeholder {
  color: #ffffff;
}

/* Enlace de contraseña olvidada */
.forgot {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  opacity: .0;
  transition: all .5s ease;
}

.forgot-left {
  opacity: 1;
}

/* Botón de registro */
.btn-signup {
  margin-right: -121px;
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: #000;
  background: #e4d7d7;
  cursor: pointer;
}

/* Animación de botón de registro */
.btn-animate {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background: #1059FF;
  position: relative;
}

.btn-animate:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform .3s ease;
}

.btn-animate:hover:before {
  transform: scaleX(1);
  transform-origin: left center;
}

.reg_confirm {
  display: grid;
  place-items: center;
}

.reg_cancel {
  display: grid;
  place-items: center;
  margin-top: 25px;
}



.select {
  display: inline-block;
  position: relative;
}



.select select {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.808);
  color: #0c0c0c;
}

.select select:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.808);
  box-shadow: 0 0 5px #9da8b1;
}