body {
    display: flex;
    background-color: rgba(180, 173, 168, 0.466);
    align-items: center;
    justify-content: center;
}

     .display th {
        background-color: #FF585F;
    }

 table {
    position: relative;
    left: 10%;
    transform: translate(-11.5%, -18%);
    background-color: rgb(255 255 255);
    margin-top: 85px;
    width: 80%; /* Ajusta el ancho de la tabla según tu preferencia */
    border-collapse: 35px;
    border-radius: 12px; /* Agrega bordes redondeados */
}

th, td {
    border: 1px solid #FF585F;
    border-radius: 8px; /* Agrega bordes redondeados */
    padding: 16px;
    text-align: center;
    font-size: 0.9rem;
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
}

th {
    background-color: #FF585F;
    color: white;
    font-weight: bold; /* Texto en negrita para encabezados */
}

/* Estilo para el texto en negrita */
strong {
    color: #FF585F;
    font-size: larger;
    font-family: Arial, sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    color: #FF585F;
    font-size: xx-large;
    font-family: Arial, sans-serif;
    margin-top: 15px;
}